 <div class="row">
    <div class="col-md-5">
      <div class="panel-group" id="accordion">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-intro">
                          <i class='fa fa-info-circle'></i>
                          Instructions
                      </a>
                  </h4>
              </div>
              <div id="collapse-intro" class="panel-collapse collapse">
                  <div class="panel-body">
                      <div class='clearfix'></div>
                      <p class='pull-left'><img id='drawing-tools-img' src='http://ember-prototype.s3-website-us-east-1.amazonaws.com/assets/images/draw-tools.png' alt='drawing tools' /></p>
                      <p>Draw a box, line or a custom shape on the map and select the dates and time aggregation below to filter datasets.</p>

                      <p class='pull-right'><a data-toggle="collapse" data-parent="#accordion" href="#collapse-intro">OK, thanks!</a></p>
                  </div>
              </div>
          </div>
      </div>

      <div class="rowbox">
       {{date-range startDate=startDate endDate=endDate override=override}}
       {{drop-downs agg=agg aggOptions=aggOptions}}
      </div>
      {{submit-or-reset submit=(action "submitAndZoom") reset=reset}}
      <div class="rowbox">
        <label for="map-center-select">Center map on:</label>
        <select onchange={{action "teleportToCity"}} id="map-center-select">
          <option selected disabled>Choose a city to jump to it</option>
          {{#each citiesList as |city|}}
            <option value="{{city.id}}">{{city.label}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="col-md-7 half-height">
      {{#leaflet-map
        center=mapCenter
        zoom=mapZoom
        onLoad=(action "cacheMapRef")
        onDragend=(action "mapMovedByUser")
        class='large-map'}}
        {{tile-layer url=baseMapTileUrl}}
        {{draw-control draw=drawOptions showDrawingLayer=true onDrawCreated=(action 'userDrewShape')}}
      {{/leaflet-map}}
    </div>
  </div>


