<h3 class="detail-header">Filters</h3>
{{#each filterHashes as |filter index|}}
  <p>{{humanize filter.field}} {{filter.op}} {{filter.val}}
      &nbsp;&nbsp;<button {{action "removeFilter" index}} class="btn btn-default btn-sm pull-right">Remove Filter</button>
      &nbsp;&nbsp;
  </p>
{{/each}}
<div class="rowbox">
{{#em-form formLayout="horizontal"
submitButton=false
model=activeFilter
validationIcons=false}}

  {{em-select
  property="field"
  content=fieldOptions
  optionValuePath="computerName"
  optionLabelPath="humanName"
  prompt="..."
  label="Field"}}

  {{em-select
  property="op"
  content=operatorOptions
  optionValuePath="operator"
  optionLabelPath="operator"
  prompt="..."
  label="Operator"}}

  {{em-input label="Value"
  property="val"}}

  <input type="submit" disabled={{notComplete}} class="btn btn-info pull-right" value="Add Filter" />

{{/em-form}}
</div>
<div style="height:0; width:100%; clear:both"></div>