<h3>Filters</h3>
{{#each filters as |filter index|}}
  <p>{{filter.field}} {{filter.operator}} {{filter.value}}
      &nbsp;&nbsp;<button {{action "removeFilter" index}} class="btn btn-default btn-sm pull-right">Remove Filter</button>
      &nbsp;&nbsp;
  </p>
{{/each}}

<br/>


{{#em-form formLayout="inline"
submitButton=false
model=activeFilter
validationIcons=false}}

  {{em-select
  property="field"
  content=fieldOptions
  optionValuePath="computerName"
  optionLabelPath="humanName"
  prompt="..."
  label="Field"}}

  {{em-select
  property="op"
  content=operatorOptions
  optionValuePath="operator"
  optionLabelPath="operator"
  prompt="..."
  label="Operator"}}

  {{em-input label="Value"
  property="val"}}

  <input type="submit" disabled={{notComplete}} class="btn btn-info pull-right" value="Add Filter" />

{{/em-form}}
