<h3>Filters</h3>
{{#each filters as |filter index|}}
  <p>{{filter.field}} {{filter.operator}} {{filter.value}}
      <button {{action "removeFilter" index}} class="btn btn-default">x</button></p>
{{/each}}


{{#em-form formLayout="horizontal" submitButton=false model=activeFilter}}
  {{em-select
  property="field"
  content=fieldOptions
  optionValuePath="computer_name"
  optionLabelPath="human_name"
  prompt="--field--"
  label="Field"}}

  {{em-select
  property="operator"
  content=operatorOptions
  optionValuePath="operator_name"
  optionLabelPath="operator_symbol"
  prompt="--operator--"
  label="Operator"}}

  {{em-input label="Value"
  placeholder="--value--"
  property="value"}}
  <div class="form-actions">
      <input type="submit" disabled={{notComplete}} class="btn btn-primary" value="Add">
  </div>
{{/em-form}}
