<h3>Filters</h3>
{{#each filters as |filter index|}}
  <p>{{filter.field}} {{filter.operator}} {{filter.value}}
      <button {{action "removeFilter" index}} class="btn btn-default">x</button></p>
{{/each}}


{{#em-form formLayout="horizontal" submitButton=false model=activeFilter}}
  {{em-select
  property="field"
  content=fieldOptions
  optionValuePath="computer_name"
  optionLabelPath="human_name"
  label="Field"}}
  {{em-select
  property="operator"
  content=operatorOptions
  optionValuePath="operator_name"
  optionLabelPath="operator_symbol"
  label="Operator"}}
  {{em-input label="Value" property="value"}}
  <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="Add">
  </div>
{{/em-form}}


{{!em-input label="Date" property="date" type="date" elementClass="datepicker"}}

{{!#each arbitraryList as |item|}}
  {{!em-select
  label="Gender"
  property="gender"
  content=genderOptions
  optionValuePath="id"
  optionLabelPath="name"
  prompt="--select--"}}
{{!/each}}