<h3 class="detail-header">Filters</h3>
{{#each filterHashes as |filter index|}}
  <p>{{humanize filter.field}} {{filter.op}} {{filter.val}}
      &nbsp;&nbsp;<button {{action "removeFilter" index}} class="btn btn-default btn-sm pull-right">Remove Filter</button>
      &nbsp;&nbsp;
  </p>
{{/each}}
<div class="rowbox">
  {{#x-select value=activeFilter.field id="field-select" action=(action "madeSelection" "activeFilter.field") as |xs|}}
    {{#xs.option disabled=true}}Select field...{{/xs.option}}
    {{#each fieldOptions as |fopt|}}
      {{#xs.option value=fopt.computerName}}{{fopt.humanName}}{{/xs.option}}
    {{/each}}
  {{/x-select}}
  {{#x-select value=activeFilter.op id="op-select" action=(action "madeSelection" "activeFilter.op") as |xs|}}
    {{#each operatorOptions as |oopt|}}
      {{#xs.option value=oopt.operator}}{{oopt.operator}}{{/xs.option}}
    {{/each}}
  {{/x-select}}
  {{input value=activeFilter.val}}
  <button class="btn btn-info btn-sm" disabled={{notComplete}} {{action "submit"}} >Add Filter</button>
</div>
<div style="height:0; width:100%; clear:both"></div>