<h3>Filters</h3>
{{#each filters as |filter index|}}
  <p>&nbsp;&nbsp;<button {{action "removeFilter" index}} class="btn btn-default btn-sm">x</button>
      &nbsp;&nbsp;{{filter.field}} {{filter.operator}} {{filter.value}}
  </p>
{{/each}}


{{#em-form formLayout="horizontal"
submitButton=false
model=activeFilter
validationIcons=false}}

  {{em-select
  property="field"
  content=fieldOptions
  optionValuePath="computer_name"
  optionLabelPath="human_name"
  prompt="..."
  label="Field"}}

  {{em-select
  property="operator"
  content=operatorOptions
  optionValuePath="operator_name"
  optionLabelPath="operator_symbol"
  prompt="..."
  label="Operator"}}

  {{em-input label="Value"
  property="value"}}
  <div class="form-actions">
      <input type="submit" disabled={{notComplete}} class="btn btn-info pull-right" value="Add Filter">
  </div>

{{/em-form}}
