<div id="filters">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-intro">
                        <i class='fa fa-info-circle'></i>
                        Instructions
                    </a>
                </h4>
            </div>
            <div id="collapse-intro" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class='clearfix'></div>
                    <p class='pull-left'><img id='drawing-tools-img' src='/static/images/draw-tools.png' alt='drawing tools' /></p>
                    <p>Draw a box, line or a custom shape on the map and select the dates and time aggregation below to filter datasets.</p>

                    <p class='pull-right'><a href='#' id='dismiss-intro'>OK, thanks!</a></p>
                </div>
            </div>
        </div>
    </div>


    <form role="form">
        <div class='row'>
            <div class='col-md-6'>
                <div class="form-group">
                    <label for="start-date-filter">Start date</label>
                    {{date-picker id="start-date-filter" placeholder=startDate
                                  changed=(action changedStartDate)}}
                </div>
            </div>
            <div class='col-md-6'>
                <div class="form-group">
                    <label for="end-date-filter">End date</label>
                    {{date-picker id="end-date-filter" placeholder=endDate
                                  changed=(action changedEndDate)}}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{! Dropdown menu thanks to this blog post:
            http://balinterdi.com/2015/08/29/how-to-do-a-select-dropdown-in-ember-20.html }}
            <label for="time-agg-filter">Aggregate by</label>
            <select id="agg-select" onchange={{action "selectAgg" value="target.value"}}>
              {{#each aggOptions as |aggChoice|}}
                  <option value={{aggChoice}} selected={{eq agg aggChoice}}>{{aggChoice}}</option>
              {{/each}}
            </select>
        </div>
    </form>
</div>