<div id="filters">

    <form role="form">
        <div class='row'>
            <div class='col-md-6'>
                <div class="form-group">
                    <label for="start-date-filter">Start date</label>
                    {{date-picker id="start-date-filter" placeholder=startDate
                                  changed=(action changedStartDate)}}
                </div>
            </div>
            <div class='col-md-6'>
                <div class="form-group">
                    <label for="end-date-filter">End date</label>
                    {{date-picker id="end-date-filter" placeholder=endDate
                                  changed=(action changedEndDate)}}
                </div>
            </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>
            <div class="form-group">
                {{! Dropdown menu thanks to this blog post:
                http://balinterdi.com/2015/08/29/how-to-do-a-select-dropdown-in-ember-20.html }}
                <label for="time-agg-filter">Aggregate by</label>
                <select id="agg-select" onchange={{action "selectAgg" value="target.value"}}>
                  {{#each aggOptions as |aggChoice|}}
                      <option value={{aggChoice}} selected={{eq agg aggChoice}}>{{aggChoice}}</option>
                  {{/each}}
                </select>
            </div>
          </div>
          {{#if res}}
            <div class='col-md-6'>
              <div class="form-group">
                  {{resolution-dropdown res=res resChanged=(action resChanged)}}
              </div>
            </div>
          {{/if}}
        </div>
    </form>
</div>