<div class="row">
  <div class="col-12">
    {{#light-table table tableClassNames="table table-sm mb-0" height=height as |t|}}
      {{t.head iconAscending="fa fa-angle-up"
               iconDescending="fa fa-angle-down"
               fixed=true
               onColumnClick=(action "onColumnClick")}}
      {{t.body autoHideScrollbar=false
               canSelect=true
               multiSelect=true
               multiSelectRequiresKeyboard=false}}
    {{/light-table}}
  </div>
</div>
<form class="row no-gutters form-inline py-2 mb-4 rounded-bottom bg-light results-table-footer" onsubmit="return false;" autocomplete="off">
  <label for="node-feature-data-search-term" class="sr-only">Filter</label>
  <div class="input-group input-group-sm col-8 pl-2">
    <div class="input-group-addon">{{fa-icon "filter"}}</div>
    {{one-way-input filterBy
                    class="form-control"
                    type="search"
                    placeholder="Filter..."
                    update=(action (mut filterBy))}}
  </div>
  <div class="col-form-label-sm col-4 pr-2 text-muted text-right">
      {{table.selectedRows.length}}&thinsp;/&thinsp;{{table.rows.length}} selected
  </div>
</form>
