{{date-range startDate=startDate endDate=endDate}}

Select the types of sensor data you would like to download:
<br>
{{#each availableFeatures as |f|}}
  {{input type="checkbox" name=f.id checked=f.id}}
  <label for="{{f.id}}">{{f.label}}</label>
  <br>
{{/each}}

{{features}}

<button class="btn btn-info" {{action "download"}}>Download</button>
