<table id='available-point-datasets' class='table table-condensed'>
    <thead>
    <tr>
        <th>Source</th>
        <th>Dataset Name</th>
        {{#if displayTrends}}
          <th>Trend</th>
        {{else}}
          <th>Timespan Available</th>
        {{/if}}
        
        {{! OR count and trend}}
    </tr>
    </thead>
    <tbody>
    {{#each pointDatasets as |pointDataset| }}
        <tr>
            <td>{{pointDataset.attribution}}</td>
            <td>{{pointDataset.human_name}}</td>
            {{#if displayTrends}}
              {{time-series-chart timeseries=pointDataset.items}}
            {{else}}
              <td><strong>{{timespan pointDataset.obs_from pointDataset.obs_to}}</strong>
                  ({{display-time pointDataset.obs_from}} - {{display-time pointDataset.obs_to}})</td>
            {{/if}}
        </tr>
    {{/each}}
    </tbody>
</table>

{{#each pointDatasets as |pointDataset| }}
  {{! each row}}
{{/each}}