<div id="search-widget" class="search-widget">
  {{#bs-alert type="warning" dismissible=false class="d-sm-none"}}
    {{fa-icon "exclamation-triangle"}}&ensp;<strong class="sr-only">Warning!</strong> Map drawing may not work on some mobile devices.
  {{/bs-alert}}
  <div class="no-gutters" {{!-- suppress the usual column spacing since cards have their own padding --}}>
    {{partial "components/search-widget/space-cards"}}
    {{partial "components/search-widget/time-card"}}
    {{!-- ensures submit bar goes full-width except on XL viewports --}}
    <div class="clearfix d-xl-none"></div>
    {{partial "components/search-widget/action-card"}}
  </div>
</div>
{{yield}}
