<div class="search-widget">
  {{#bs-alert type="warning" dismissible=false class="hidden-sm-up"}}
    {{fa-icon "exclamation-triangle"}}&ensp;<strong class="sr-only">Warning!</strong> Map drawing may not work on some mobile devices.
  {{/bs-alert}}
  <div class="no-gutters" {{!-- suppress the usual column spacing since cards have their own padding --}}>
    {{partial "components/search-widget/space-cards"}}
    {{partial "components/search-widget/time-card"}}
    <div class="clearfix hidden-xl-up"></div> {{!-- ensures submit bar goes full-width when it's supposed to --}}
    {{partial "components/search-widget/action-card"}}
  </div>
</div>
{{yield}}
