<div class="row">
  <div class="col-md-12">
    <h3><strong>{{timeseriesList.length}}</strong> {{pluralize 'Event Dataset' timeseriesList.length}} Found {{#if searchingDatasets}}<i>and counting...</i>{{/if}}</h3>
    {{point-aggregate-listing
    displayLink=(action "navigateToPoint")
    downloadLink=(action "downloadPoint")
    pointDatasets=timeseriesList
    displayTrends=true
    id="point-aggregate-listing"}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <h3>
        {{#if searchingShapes}}<i>loading shapes...</i>
        {{else}}<strong>{{shapeDatasets.length}}</strong> {{pluralize 'Shape Dataset' shapeDatasets.length}} Found
        {{/if}}
      </h3>
    {{shape-listing
    displayLink=(action "navigateToShape")
    downloadLink=(action "downloadShape")
    shapeDatasets=shapeDatasets}}
    {{#if searchingShapes}}{{widget-spin}}{{/if}}
  </div>
</div>