<div class="col-lg-4 float-lg-left pr-lg-1">
  <div class="card time-card">
    <div class="card-header">{{fa-icon "clock-o"}}&ensp;Time</div>
    <div class="card-block">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-12">
          <p class="card-text">
            Select a date range, then choose how to group event data.
          </p>
          <p class="text-muted small">
            "Aggregate by" tells Plenar.io whether you care about the number of datapoints per <em>day</em>, per
            <em>week</em>, or aggregated over another unit of time.
          </p>
        </div>
        <div class="col-12 col-md-8 col-lg-12">
          <form class="">
            <div class="form-group row {{unless (and isValidStartDate isNonFutureDateRange isForwardDateRange) "has-warning"}}">
              <label class="col-5 col-form-label col-form-label-sm" for="search-start-date">Start Date</label>
              <div class="col-7">
                {{one-way-input startDateAsString
                                id="search-start-date"
                                class="form-control form-control-sm form-control-warning form-control-danger"
                                type="date"
                                update=(action (mut startDateAsString))}}
              </div>
              {{#if (not isValidStartDate)}}
                <div class="col-12 form-control-feedback small">Please enter a valid date.</div>
              {{else if (not isNonFutureDateRange)}}
                <div class="col-12 form-control-feedback small">Start date can't be in future.</div>
              {{/if}}
            </div>
            <div class="form-group row {{unless (and isValidEndDate isForwardDateRange) "has-warning"}}">
              <label class="col-5 col-form-label col-form-label-sm" for="search-end-date">End Date</label>
              <div class="col-7">
                {{one-way-input endDateAsString
                                id="search-end-date"
                                class="form-control form-control-sm form-control-warning form-control-danger"
                                type="date"
                                update=(action (mut endDateAsString))}}
              </div>
              {{#if (not isValidEndDate)}}
                <div class="col-12 form-control-feedback small">Please enter a valid date.</div>
              {{else if (not isForwardDateRange)}}
                <div class="col-12 form-control-feedback small">End date can't be before start date.</div>
              {{/if}}
            </div>
            <div class="form-group row mb-0">
              <label class="col-5 col-form-label col-form-label-sm" for="">Aggregate&nbsp;by: </label>
              <div class="col-7">
                {{one-way-select aggregateBy id="search-aggregate-by"
                                 class="form-control form-control-sm"
                                 options=aggregationOptions
                                 update=(action (mut aggregateBy))}}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
