<section class="container full-page">
  {{scroll-magnet animationLength=750}}
  <h2>View & Compare</h2>
  <p class="lead">Now that you've chosen an area and a timeframe, check out your data below!</p>
  <div class="row">
    {{#unless (eq nodeFeaturePseudoDatasets.length 0)}}
      <div class="col-12">
        {{#light-table sensorDataTable class="table table-sm results-table" height="20vh" as |t|}}
          {{t.head class="mb-0" iconAscending="fa fa-lg fa-sort-asc" iconDescending="fa fa-lg fa-sort-desc" fixed=true}}
          {{t.body autoHideScrollbar=false canSelect=true multiSelect=true multiSelectRequiresKeyboard=false}}
        {{/light-table}}
      </div>
    {{/unless}}
    {{#unless (eq openDataProviderDatasets.length 0)}}
      <div class="col-12">
        {{#light-table openDataTable class="table table-sm results-table" height="40vh" as |t|}}
          {{t.head class="mb-0" iconAscending="fa fa-lg fa-sort-asc" iconDescending="fa fa-lg fa-sort-desc" fixed=true}}
          {{t.body autoHideScrollbar=false canSelect=true multiSelect=true multiSelectRequiresKeyboard=false}}
        {{/light-table}}
      </div>
    {{/unless}}
  </div>
</section>
{{log model}}