<section class="container">
  <div class="row">
    {{#if chartData}}
      <div class="col">
        <div class="embed-responsive embed-responsive-4by3">
          {{high-charts class="embed-responsive-item"
                        content=chartData
                        chartOptions=chartOptions}}
        </div>
      </div>
    {{/if}}
    {{#if mapBounds}}
      <div class="col">
        <div class="embed-responsive embed-responsive-4by3">
          {{#leaflet-map class="embed-responsive-item"
                         zoomAnimation=(not disableAnimations)
                         fadeAnimation=(not disableAnimations)
                         markerZoomAnimation=(not disableAnimations)
                         bounds=mapBounds
                         as |layers|}}
            {{layers.tile url="https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}{r}.png"}}
            {{layers.geojson geoJSON=mapSearchLimit className="map-search-boundary"}}
            {{!-- This depends on the Plenar.io API providing consistent grids across datasets --}}
            {{!--{{#each griddedEvents as |event index|}}--}}
              {{!--{{layers.geojson geoJSON=event.geoJSON--}}
                               {{!--className=(concat "grid " "dataset-color-" event.colorIndex)}}--}}
            {{!--{{/each}}--}}
            {{#each model.shapes as |shape index|}}
              {{layers.geojson geoJSON=shape.geoJSON
                               className=(concat "shape " "dataset-color-" shape.colorIndex)}}
            {{/each}}
          {{/leaflet-map}}
        </div>
      </div>
    {{/if}}
  </div>
  <h1>Comparing:</h1>
  {{#each allDatasets as |dataset|}}
    <span class="dataset-color-{{dataset.colorIndex}}">{{fa-icon "circle"}}</span> {{dataset.humanName}}<br>
  {{/each}}
  {{#each model.features as |dataset|}}
    {{dataset.dataset_name}}<br>
  {{/each}}
  {{outlet}}
</section>