{{log mappedDatasets}}
<section class="container">
  {{#if (or startDate endDate aggregateBy withinArea)}}
    {{search-params-breadcrumbs queryParamHash action=(action "returnToSearch")}}
  {{/if}}

  <div class="row no-gutters">
    {{#if mappedDatasets}}
      <div class="col-12 {{if plottedDatasets "col-lg-6"}}">
        <div class="embed-responsive embed-responsive-{{if (and plottedDatasets media.isLg) "4by3" "8by3"}}">

          {{#leaflet-map class="embed-responsive-item"
                         zoomAnimation=(not disableAnimations)
                         fadeAnimation=(not disableAnimations)
                         markerZoomAnimation=(not disableAnimations)
                         bounds=mapBounds as |layers|}}
            {{layers.tile url="https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}{r}.png"}}
            {{layers.geojson geoJSON=mapSearchLimit className="map-search-boundary"}}
            {{#each mappedDatasets as |dataset|}}
              {{#if (gte dataset.colorIndex 0)}}
                {{layers.geojson geoJSON=dataset.geoJSON
                                 pointToLayer=mapGeoJSONPointToLayer
                                 onEachFeature=(unless dataset.aggregatedEvents createShapePopup)
                                 className=(concat
                                   dataset.type
                                   " "
                                   "dataset-color-"
                                   dataset.colorIndex
                                 )}}
              {{/if}}
              {{#if dataset.isCombinedGrid}}
                {{layers.geojson geoJSON=dataset.geoJSON className="combined-grid"}}
              {{/if}}
            {{/each}}
          {{/leaflet-map}}
        </div>
      </div>
    {{/if}}

    {{#if plottedDatasets}}
      <div class="col-12 {{if mappedDatasets "col-lg-6"}}">
        <div class="embed-responsive embed-responsive-{{if (and mappedDatasets media.isLg) "4by3" "8by3"}}">
          {{high-charts class="embed-responsive-item"
                        content=chartData
                        chartOptions=chartOptions}}
        </div>
      </div>
    {{/if}}

    {{!-- TODO: fix this kludgy placeholder box displayed when no datasets selected. ~5 should start selected. --}}
    {{#unless (or plottedDatasets mappedDatasets)}}
      <div class="col-12">
        <div class="embed-responsive embed-responsive-8by3">
          <div class="card bg-light embed-responsive-item">
            <div class="card-body d-flex align-items-center justify-content-center">
              <p class="card-text text-muted text-center w-75">
                {{fa-icon "globe" size="2"}}&emsp;{{fa-icon "area-chart" size="2"}}<br>
                Select datasets below to visualize them here.
              </p>
            </div>
          </div>
        </div>
      </div>
    {{/unless}}

    <div class="col-12 mt-1">
      <h1>View &amp; Compare</h1>
    </div>

  </div>

  {{lt-compare allDatasets columns=tableColumns onSelectionChanged="userDidChangeSelection" classNames="mb-3"}}

  {{#if (gt model.falsePositives.length 0)}}
    <div class="row">
      <div class="col">
        <p class="h6">Not Displayed:</p>
        <p class="small text-muted">
          The Plenar.io Explorer takes advantage of Plenar.io's opt-in fast-find option when displaying search
          results, which ensures a lightning-fast response. Unfortunately, this occasionally creates "false positives"
          where the search area contains a particular dataset but when inspecting individual records for display none are
          found.
        </p>
        <ul>
          {{#each model.falsePositives as |dataset|}}
            <li>{{dataset.humanName}} <span class="small text-muted">{{dataset.provider}}</span></li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}
</section>
