{{!-- TODO: fix kludgy placeholder boxes displayed with no datasets selected. Ideally some should start selected. --}}
<section class="container">
  <div class="row">
    <div class="col-11">
      <h1>View &amp; Compare</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="embed-responsive embed-responsive-4by3">
        {{#if plottedDatasets}}
          {{high-charts class="embed-responsive-item"
                        content=chartData
                        chartOptions=chartOptions}}
        {{else}}
          <div class="embed-responsive-item">
            <div class="card bg-faded w-100 h-100">
              <div class="card-block d-flex align-items-center justify-content-center">
                <p class="card-text text-muted text-center w-75">
                  Select temporal datasets below to see them plotted over time here.
                </p>
              </div>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
    <div class="col">
      <div class="embed-responsive embed-responsive-4by3">
        {{#if mappedDatasets}}
          {{#leaflet-map class="embed-responsive-item"
                         zoomAnimation=(not disableAnimations)
                         fadeAnimation=(not disableAnimations)
                         markerZoomAnimation=(not disableAnimations)
                         bounds=mapBounds
                         as |layers|}}
            {{layers.tile url="https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}{r}.png"}}
            {{layers.geojson geoJSON=mapSearchLimit className="map-search-boundary"}}
            {{#each mappedDatasets as |dataset|}}
              {{#if (gte dataset.colorIndex 0)}}
                {{layers.geojson geoJSON=dataset.geoJSON
                                 className=(concat
                                   (if dataset.aggregatedEvents "grid" "shape")
                                   " "
                                   "dataset-color-"
                                   dataset.colorIndex
                                 )}}
              {{/if}}
            {{/each}}
          {{/leaflet-map}}
        {{else}}
          <div class="embed-responsive-item">
            <div class="card bg-faded w-100 h-100">
              <div class="card-block d-flex align-items-center justify-content-center">
                <p class="card-text text-muted text-center w-75">
                  Select spatial datasets below to compare them on a map.
                </p>
              </div>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  {{lt-compare allDatasets columns=tableColumns onSelectionChanged="userDidChangeSelection"}}
</section>
