<div class='col-md-12'>
    <p><a href='#' id='back-to-explorer'>&lt; back to Explorer</a></p>
</div>
<div class="row">
  <div class="col-md-5">
    <h3 class='detail-header'>
      {{model.metadata.attribution}}: {{model.metadata.humanName}}
  </h3>

    {{date-range startDate=obs_date__ge endDate=obs_date__le}}
    {{drop-downs agg=agg res=resolution}}
    {{column-filters filters=filters metadata=model.metadata}}
    <br/>
      <button {{action "refine"}}  type="button" id="submit-query" class="btn btn-primary">
          <i class='fa fa-search'></i>
          Refine Query
      </button>
  </div>
  <div class="col-md-7">
    {{heat-grid grid=model.grid datasetName=model.metadata.humanName}}
    {{high-charts classNames=chartClasses content=model.timeseries.series}}
    {{metadata-display m=model.metadata}}

  </div>
</div>
