<div class="row">
  <div class="col-md-5">
    {{date-range startDate=obs_date__ge endDate=obs_date__le}}
    {{drop-downs agg=agg res=resolution}}
    {{column-filters filters=filterHashes}}
    <br/>
      <button type="button" id="submit-query" class="btn btn-primary">
          <i class='fa fa-search'></i>
          Submit
      </button>
      <button type="button" id="reset-query" class="btn btn-default">
          <i class='fa fa-undo'></i>
          Reset
      </button>
  </div>
  <div class="col-md-7">
    {{heat-grid grid=model.grid datasetName=model.metadata.humanName}}
    {{high-charts classNames=chartClasses content=model.timeseries.series}}
  </div>
</div>
