<div class='col-md-12'>
    <p><a href='#' id='back-to-explorer'>&lt; back to Explorer</a></p>
</div>
<div class="row">
  <div class="col-md-5">
    <h3 class='detail-header'>
      {{model.attribution}}: {{model.humanName}}
  </h3>
    {{date-range startDate=obs_date__ge endDate=obs_date__le}}
    {{drop-downs agg=agg res=resolution}}
    {{log model}}
    {{column-filters filters=filters metadata=model}}
    <br/>
      <button {{action "refine"}}  type="button" id="submit-query" class="btn btn-primary">
          <i class='fa fa-search'></i>
          Refine Query
      </button>

      <h4>API queries</h4>
      <p>View the API queries that are used on this page. <a href='/api-docs/'>Read the API docs</a>.</p>
      <ul class=''>
          <li><a class='download-geojson' target="_blank" href=""><code>/v1/api/grid/&hellip;</code></a></li>
          <li><a href="" target="_blank"><code>/v1/api/detail-aggregate/&hellip;</code></a></li>
          <li><a href="" target="_blank"><code>/v1/api/detail/&hellip;</code></a></li>
      </ul>

  </div>
  <div class="col-md-7">
      {{#if loading}}
          <h3 class='detail-header'>Loading...</h3>
        {{widget-spin}}
        {{leaflet-map}}
      {{else}}
          <h3 class='detail-header' id="record-count">
            {{#if timeseries}} {{timeseries.count}} {{else}} 0 {{/if}}
              Records Found
          </h3>
        {{log grid}}
        {{log timeseries.series}}
        {{heat-grid grid=grid datasetName=model.humanName loading=loading}}
        {{high-charts classNames=chartClasses content=timeseries.series}}
        {{metadata-display m=model}}
      {{/if}}

  </div>
</div>
