<div class="row">
  <div class="col-md-5">
    {{date-range}}
    {{drop-downs agg='week' res='500'}}
    {{column-filters filters=mockFilters}}
    <br/>
      <button type="button" id="submit-query" class="btn btn-primary">
          <i class='fa fa-search'></i>
          Submit
      </button>
      <button type="button" id="reset-query" class="btn btn-default">
          <i class='fa fa-undo'></i>
          Reset
      </button>
  </div>
  <div class="col-md-7">
      {{log model.metadata}}
    {{heat-grid grid=model.grid datasetName=model.metadata.humanName}}
    {{high-charts classNames=chartClasses content=model.timeseries.series}}
  </div>
</div>
