<div class="row">
  <div class='col-md-12'>
    <button type="button" class="btn btn-primary" {{action "exit"}}>&larr; Back to Explorer</button>
  </div>
</div>
<div class="row rowbox">
  <div class="col-md-5">
    <h3 class='detail-header'>
      {{model.attribution}}: {{model.humanName}}
    </h3>
    <div class="rowbox">
    {{date-range startDate=obs_date__ge endDate=obs_date__le}}
    {{drop-downs agg=agg res=resolution aggOptions=aggOptions resOptions=resOptions}}
    {{column-filters filters=filters metadata=model}}
    </div>
    <div class="rowbox">
      <button {{action "refine"}}  type="button" id="submit-query" class="btn btn-primary">
          <i class='fa fa-search'></i>
          Refine Query
      </button>
      <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <i class='fa fa-download'></i>
          Download
          <span class="caret"></span>
      </button>
        <ul class="dropdown-menu" role="menu">
            <style>
                .download-selection {
                    cursor: pointer;
                }
            </style>
            <li><a class="download-selection" {{action "download" "csvPoints"}}><i class='fa fa-download'></i> Quick Raw Data (CSV, first 1,000 records)</a></li>
            <li><a class="download-selection" {{action "download" "geoJSONPoints"}}><i class='fa fa-download'></i> Quick Raw Data (GeoJSON, first 1,000 records)</a></li>
            <li><a class="download-selection" {{action "download" "csvPointsDump"}}><i class='fa fa-download'></i> Complete Raw Data (CSV, everything)</a></li>
            <li><a class="download-selection" {{action "download" "geoJSONPointsDump"}}><i class='fa fa-download'></i> Complete Raw Data (GeoJSON, everything)</a></li>
            <li><a class="download-selection" {{action "download" "grid"}}><i class='fa fa-download'></i> Map Grid (GeoJSON, with count aggregate)</a></li>
            <li><a class="download-selection" {{action "download" "timeseries"}}><i class='fa fa-download'></i> Time Series (CSV)</a></li>
        </ul>
      </div>
    </div>
    <hr />
    <h4>API queries</h4>
    <p>View the API queries that are used on this page. <a href='/api-docs/'>Read the API docs</a>.</p>
    <ul class=''>
        <li><a {{action "download" "grid"}}><code>/v1/api/grid/&hellip;</code></a></li>
        <li><a {{action "download" "timeseries"}}><code>/v1/api/detail-aggregate/&hellip;</code></a></li>
        <li><a {{action "download" "geoJSONPoints"}}><code>/v1/api/detail/&hellip;</code></a></li>
    </ul>
  </div>
  <div class="col-md-7">
      {{#if loading}}
          <h3 class='detail-header'>Loading...</h3>
        {{widget-spin}}
        {{leaflet-map}}
      {{else}}
          <h3 class='detail-header' id="record-count">
            {{#if timeseries}} {{timeseries.count}} {{else}} 0 {{/if}}
              Records Found
          </h3>
        {{heat-grid grid=grid datasetName=model.humanName}}
        {{high-charts classNames=chartClasses content=timeseries.series}}
        <hr />
        <h4>Dataset details</h4>
        {{metadata-display m=model}}
      {{/if}}

  </div>
</div>
