{{#if refresh}}
 {{aggregate-query-maker submit=(action "submit") reset=(action "reset")}}
{{/if}}

<br/>
<p class="lead"><strong>{{filteredPointDatasets.length}}</strong>
                              Event Datasets Available to Query</p>

{{point-index-listing
  displayLink=(action "navigateToPoint")
  pointDatasets=filteredPointDatasets}}

<br/>
<p class="lead"><strong>{{filteredShapeDatasets.length}}</strong>
                              Shape Datasets Available to Query</p>

{{shape-listing
  displayLink=(action "navigateToShape")
  downloadLink=(action "downloadShape")
  shapeDatasets=filteredShapeDatasets}}

{{outlet}}
