{{#if refresh}}
 {{aggregate-query-maker
 startDate=obs_date__ge
 endDate=obs_date__le
 geoJSON=location_geom__within
 agg=agg
 submit=(action "submit") reset=(action "reset")}}
{{/if}}

<br/>
<p class="lead"><strong>{{model.pointDatasets.length}}</strong>
                              Event Datasets Available to Query</p>

{{point-index-listing
  displayLink=(action "navigateToPoint")
  pointDatasets=model.pointDatasets}}

<br/>
<p class="lead"><strong>{{model.shapeDatasets.length}}</strong>
                              Shape Datasets Available to Query</p>

{{shape-listing
  displayLink=(action "navigateToShape")
  downloadLink=(action "downloadShape")
  shapeDatasets=model.shapeDatasets}}

{{outlet}}
