<h2>We're in the index!</h2>

{{aggregate-query-maker}}

<p>Agg unit is {{agg}}. And {{startDate}} {{endDate}}</p>

<p>Shape and point indexes</p>

{{#each model.pointDatasets as |pointDataset| }}
  {{point-dataset dataset=pointDataset}}
{{/each}}

{{#each model.shapeDatasets as |shapeDataset| }}
  {{shape-dataset dataset=shapeDataset}}
{{/each}}

{{outlet}}
