<div class="row">
    <div class='col-md-5'>

        <div class="row">
            <div class="col-xs-3">
                </div>
            <div class="col-xs-6">
                <a href="http://arrayofthings.github.io/">
                    <img src="/assets/images/ArrayofThingsLogo-small.png"
                    class="img-responsive"/>
                </a>
            </div>
            <div class="col-xs-3">
            </div>
        </div>
      <br>
      <p class="lead">
        Select a node to view live readings or long-term trends.
      </p>
      <p>
          <strong>{{model.nodes.length}}</strong> nodes available.
      </p>
      {{node-meta nodeMeta=selectedNodeMeta}}

    </div>

    <div class='col-md-7'>
      {{
        leaflet-nodes
        geoJSON=model.nodes
        selectionAction=(action "onSelect")
        selectedNode=selectedNodeMeta.id
      }}
    </div>
</div>
<div class="row">
  {{#bs-button-group value=viewType type="radio" class="btn-block"}}
    {{#bs-button value='live'}}Live View{{/bs-button}}
    {{#bs-button value='history'}}History View{{/bs-button}}
    {{#bs-button value='download'}}Download{{/bs-button}}
  {{/bs-button-group}}
    <div class='col-md-12'>

    {{#if (eq viewType 'live')}}
        <p>Observations from the last hour. New observations will appear live.</p>
    {{else if (eq viewType 'history')}}
        <p>Hourly averages over the last week.</p>
    {{else}}
        <p>Download bulk data from a node.</p>
    {{/if}}

    {{#unless (eq viewType 'download')}}
      {{node-chart nodeMeta=selectedNodeMeta viewType=viewType curation=model.curation}}
    {{else}}
      {{node-download download=(action 'download') nodeId=selectedNodeMeta.id}}
    {{/unless}}
      <p class="well">
          Download data and create your own Array of Things applications with
          <a href="http://canary-docs.s3-website-us-east-1.amazonaws.com/#sensor-network-data">
              the Plenario API
          </a>.
      </p>
  </div>
</div>

