<div class='col-md-12'>
    <p><a {{!action "exit"}}>&lt; back to Explorer</a></p>
</div>
<div class="row">
    <div class="col-md-5">
        <h3 class='detail-header'>
          {{model.attribution}}: {{model.humanName}}
        </h3>
        <br/>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class='fa fa-download'></i>
                Download
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
             <!--   <li><a {{action "download" "geoJSONPoints"}}><i class='fa fa-download'></i> Raw data (CSV, first 1,000 records)</a></li>
                <li><a {{action "download" "csvPoints"}}><i class='fa fa-download'></i> Raw data (GeoJSON, first 1,000 records)</a></li>
                <li><a {{action "download" "grid"}}><i class='fa fa-download'></i> Map grid (GeoJSON, with count aggregate)</a></li>
                <li><a {{action "download" "timeseries"}}><i class='fa fa-download'></i> Time series (CSV)</a></li> -->
            </ul>
        </div>

    </div>
    <div class="col-md-7">
      {{#if loading}}
          <h3 class='detail-header'>Loading...</h3>
        {{widget-spin}}
        {{leaflet-map}}
      {{else}}
          <h3 class='detail-header' id="record-count">
              Records Found
          </h3>
        {{metadata-display m=model}}
      {{/if}}

    </div>
</div>
