<section class="container">
  {{#if (or startDate endDate aggregateBy withinArea)}}
    {{search-params-breadcrumbs queryParamHash action=(action "returnToSearch")}}
  {{/if}}
  <div class="row mb-1">
    {{#if mappedDatasets}}
      <div class="col">
        <div class="embed-responsive embed-responsive-{{if media.isMd "8by3" "4by3"}}">

          {{#leaflet-map class="embed-responsive-item"
                         zoomAnimation=(not disableAnimations)
                         fadeAnimation=(not disableAnimations)
                         markerZoomAnimation=(not disableAnimations)
                         bounds=mapBounds as |layers|}}
            {{layers.tile url="https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}{r}.png"}}
            {{#if mapSearchLimit}}
              {{layers.geojson geoJSON=mapSearchLimit className="map-search-boundary"}}
            {{/if}}
            {{layers.geojson geoJSON=model.primaryDataset.geoJSON
                             pointToLayer=mapGeoJSONPointToLayer
                             onEachFeature=createShapePopup
                             className=(concat
                               (if model.primaryDataset.aggregatedEvents "grid" "shape")
                               " "
                               "dataset-color-0"
                             )}}
          {{/leaflet-map}}
        </div>
      </div>
    {{/if}}

  </div>

  <div class="row">
    <div class="col-12">
      <h1>{{model.primaryDataset.humanName}}</h1>
    </div>

    <div class="col-5">
      {{#if (eq model.primaryDataset.type "event")}}
        {{#if (or startDate endDate)}}
          <dl class="row no-gutters">

            <dt class="col-sm-6">{{fa-icon "calendar-o" class="text-muted" fixedWidth=true}} Dates Shown</dt>
            <dd class="col-sm-6 text-right">{{format-date startDate endDate}}</dd>

            <dt class="col-sm-6">{{fa-icon "hashtag" class="text-muted" fixedWidth=true}} Matching Events</dt>
            <dd class="col-sm-6 text-right">{{model.primaryDataset.totalEventCount}}</dd>

            <dt class="col-sm-7">
              {{fa-icon "download" class="text-muted" fixedWidth=true}}
              Download
              <small class="text-muted"> (Matched Items)</small>
            </dt>
            <dd class="col-sm-5 text-right">
              {{download-menu model.primaryDataset filterDownload=true queryParams=queryParamHash}}
            </dd>

          </dl>
        {{else}}
          <p>Displaying data from the last three months. You can download all of this dataset's data below.</p>
        {{/if}}
      {{/if}}

      <hr>

      <dl class="row no-gutters">

        <dt class="col-sm-6">Data Provider</dt>
        <dd class="col-sm-6 text-right">{{model.primaryDataset.provider}}</dd>

        <dt class="col-sm-6">Date Added</dt>
        <dd class="col-sm-6 text-right">{{format-date model.primaryDataset.dateAdded}}</dd>

        <dt class="col-sm-6">Oldest Item</dt>
        <dd class="col-sm-6 text-right">{{format-date model.primaryDataset.oldest}}</dd>

        <dt class="col-sm-6">Newest Item</dt>
        <dd class="col-sm-6 text-right">{{format-date model.primaryDataset.newest}}</dd>

        <dt class="col-sm-6">Update Frequency</dt>
        <dd class="col-sm-6 text-right">{{model.primaryDataset.updateFreq}}</dd>

        <dt class="col-sm-6">Last Updated</dt>
        <dd class="col-sm-6 text-right">{{format-date model.primaryDataset.lastUpdate format="l LT"}}</dd>

        {{#if plottedDatasets}}
          <dt class="col-sm-12">Description</dt>
          <dd class="col-sm-12 text-justify small" style="max-height: 5rem; overflow-y: scroll;">
            {{model.primaryDataset.description}}
          </dd>
        {{/if}}

        <dt class="col-sm-6">Bulk Download <small class="text-muted">(All Data)</small></dt>
        <dd class="col-sm-6 text-right">
          {{download-menu model.primaryDataset direction="up" filterDownload=false}}
        </dd>

      </dl>

    </div>

    <div class="col-7">

      {{#if plottedDatasets}}
        <div class="embed-responsive embed-responsive-16by9">
          {{high-charts class="embed-responsive-item"
                        content=chartData
                        chartOptions=chartOptions}}
        </div>
      {{else}}
        <dl class="row">
          <dt class="col-sm-12">Description</dt>
          <dd class="col-sm-12 text-justify small">{{model.primaryDataset.description}}</dd>
        </dl>
      {{/if}}

    </div>
  </div>
</section>

{{log model}}